streamlit==1.38.0
numpy
pandas==2.0.3
matplotlib
plotly
gsheetsdb
seaborn
altair
google-cloud-bigquery
gspread
langchain
langchain-experimental
openai
chromadb==0.3.29
pysqlite3-binary
tiktoken
pygwalker
gsheetsdb
pytrends
datetime
flatten_json
streamlit_authenticator
